include README-pypi.md
include LICENSE
exclude README.md
exclude CONTRIBUTING.md
exclude Makefile
exclude .gitignore
exclude .github
exclude tests
exclude examples
exclude docs
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
recursive-exclude * .DS_Store
